<h1>Unique Antique Boutique</h1>

<p><a href="/products">Available Antiques</a></p>
<p><a href="/purchases/new">Start New Purchase</a></p>
<p><a href="/purchases">Purchase History</a></p>
<p><a href="/customers">Customer History</a></p>
