<h1>Available Antiques</h1>

<% if Product.any?() %>

  <ul>
    <% Product.not_purchased.each() do |product| %>
      <li><a href="/products/<%=product.id%>"><%=product.name %> - $<%= product.price %></a></li>
    <% end %>
  </ul>

<% else %>

  <p>SOLD OUT! Please enter a new product!</p>

<% end %>

<h3>Add New Antique</h3>
<form  action="/products" method="post">
<input type="text" id="product_name" name="product_name" placeholder="Enter new antique">
<input type="text" name="product_price" placeholder="Enter antique price">
<button type="submit">Add antique</button>

</form>
